.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  max-width: 350px;
  border-radius: 8px;
  border: 1px solid #ccc;
  /* outline: none; */
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #d83a18; /* Đổi viền sang màu đỏ cam */
}

.info {
  display: flex;
  align-items: center;
}

.info p {
  font: inherit;
  padding: 0;
  margin: 0;
}

.btn {
  background-color: #d83a18;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  cursor: pointer;
}

.container {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}
.left {
  flex: 1;
  margin-left: 100px;
}
.right {
  flex: 1;
  height: 450px;
}
.right iframe {
  border-radius: 12px;
}
